node_modules/
test-results/
playwright-report/
allure-results/
allure-report/
*.log
.env
storageState.json
*-actual.png
*-diff.png
debug-*.png
test-*-*.png
*-chromium-*.png
*-Chromium-*.png
*-webkit-*.png
*-firefox-*.png
*-chromium-*.png
*-webkit-*.png
*-firefox-*.png